.post-container {
    width: 845px;


}

.post-photo {
    width: 845px;
    height: 450px;
    border-radius: 10px;

}


.markasbtn {
    margin-bottom: 30px;
    text-decoration: underline;
}

.name {
    margin-left: 10px;

}

.post-date {
    margin: 0;
    margin-left: 40px;
}

.user-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;


}

.post-title {
    font-family: "Exo 2";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin: 0;
}

.post-tag {
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 32px */
}


.user-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}