.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


a {
    margin-right: 15px;
    text-decoration: none;

}

a:hover {
    color: orange;
}

ul img {
    width: 40px;
}